Laatste update: 7 maart 2014			
Bank Identifier	BIC	Naam Bank	Opmerking
ABNA	ABNANL2A	ABN AMRO BANK N.V	
AEGO	AEGONL2U	AEGON BANK NV                                 	
ANAA	ANAANL21	ALLIANZ NEDERLAND ASSET MANAGEMENT	
ANDL	ANDLNL2A	ANADOLUBANK NEDERLAND NV                      	
ARBN	ARBNNL22	ACHMEA RETAIL BANK N.V.                       	
ARSN	ARSNNL21	ARGENTA SPAARBANK NV                          	
ARTE	ARTENL2A	GE ARTESIA BANK                               	
ASNB	ASNBNL21	ASN BANK	
ASRB	ASRBNL2R	ASR BANK N.V.              	
ATBA	ATBANL2A	AMSTERDAM TRADE BANK N.V	
BBRU	BBRUNL2X	ING BELGIE NV, BREDA BRANCH                   	
BCDM	BCDMNL22	BANQUE CHAABI DU MAROC    	
BCIT	BCITNL2A	INTESA SANPAOLO S.P.A	
BICK	BICKNL2A	BINCKBANK N.V.	
BKCH	BKCHNL2R	BANK OF CHINA	
BKMG	BKMGNL2A	BANK MENDES GANS N.V.                         	
BLGW	BLGWNL21	BLG WONEN	
BNGH	BNGHNL2G	NV BANK NEDERLANDSE GEMEENTEN  	
BNPA	BNPANL2A	BNP PARIBAS S.A. THE NETH. BRANCH             	
BOFA	BOFANLNX	BANK OF AMERICA N.A.                          	
BOFS	BOFSNL21002	BANK OF SCOTLAND PCC AMSTERDAM BRANCH 	
BOTK	BOTKNL2X	BANK OF TOKYO-MITSUBISHI UFJ                      	
CHAS	CHASNL2X	JPMORGAN CHASE	
CITC	CITCNL2A	CITCO BANK NEDERLAND                          	
CITI	CITINL2X	CITIBANK INTERNATIONAL PLC	
COBA	COBANL2X	COMMERZBANK AG                                	
DEUT	DEUTNL2N	DEUTSCHE BANK               	
DHBN	DHBNNL2R	DEMIR-HALK BANK (NEDERLAND) N.V.              	
DLBK	DLBKNL2A	DELTA LLOYD BANK NV                           	
DNIB	DNIBNL2G	NIBC BANK NV                                  	
FBHL	FBHLNL2A	CREDIT EUROPE BANK N.V	
FLOR	FLORNL2A	DE NEDERLANDSCHE BANK N.V.                    	
FRBK	FRBKNL2L	FRIESLAND BANK N.V.                           	
FRGH	FRGHNL21	FRIESCH GRONINGSE HYPOTHEEK BANK	
FTSB	ABNANL2A	ABN AMRO BANK N.V.	voormalig FORTIS BANK NEDERLAND N.V.
FVLB	FVLBNL22	F.VAN LANSCHOT BANKIERS N.V.                  	
GILL	GILLNL2A	THEODOOR GILISSEN N.V.                        	
HAND	HANDNL2A	(SVENSKA) HANDELSBANKEN AB	
HHBA	HHBANL22	HOF HOORNEMAN BANKIERS	
HSBC	HSBCNL2A	HSBC BANK PLC.                                	
ICBK	ICBKNL2A	INDUSTRIAL AND COMMERCIAL BANK OF CHINA	
INGB	INGBNL2A	ING BANK N.V.                                 	
INSI	INSINL2A	INSINGER DE BEAUFORT NV                       	
ISBK	ISBKNL2A	ISBANK                                        	
KABA	KABANL2A	YAPI KREDI BANK NEDERLAND NV                  	
KASA	KASANL2A	KAS BANK N.V.                                 	
KNAB	KNABNL2H	KNAB	
KOEX	KOEXNL2A	KOREA EXCHANGE BANK                           	
KRED	KREDNL2X	KBC BANK NEDERLAND N.V.                       	
LOCY	LOCYNL2A	LOMBARD ODIER DARIER HENTSCH & CIE	
LOYD	LOYDNL2A	LLOYDS TSB BANK PLC                          	
LPLN	LPLNNL2F	LEASEPLAN CORPORATION NV                             	
MHCB	MHCBNL2A	MIZUHO CORPORATE BANK NEDERLAND N.V	
NNBA	NNBANL2G	NATIONALE-NEDERLANDEN BANK N.V.               	
NWAB	NWABNL2G	NEDERLANDSE WATERSCHAPSBANK N.V. 	
OVBN	OVBNNL22	LEVOB BANK N.V.                               	
RABO	RABONL2U	RABOBANK GROEP                                	
RBOS	RBOSNL2A	ROYAL BANK OF SCOTLAND                        	
RBRB	RBRBNL21	REGIOBANK	
SNSB	SNSBNL2A	SNS BANK N.V	
SOGE	SOGENL2A	SOCIETE GENERALE                             	
STAL	STALNL2G	STAALBANKIERS N.V	
TEBU	TEBUNL2A	THE ECONOMY BANK N.V.                         	
TRIO	TRIONL2U	TRIODOS BANK N.V	
UBSW	UBSWNL2A	UBS BANK (NETHERLANDS) BV                     	
UGBI	UGBINL2A	GARANTIBANK INTERNATIONAL N.V.                	
VOWA	VOWANL21	VOLKSWAGEN BANK                                       	
ZWLB	ZWLBNL21	ZWITSERLEVENBANK	
